<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Vende M&aacute;s</title>
	<link href="https://fonts.googleapis.com/css?family=Lato|Roboto:300,400" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<header>
		<div class="container">
			<a href="./index.html"><img src="../assets/logo-vende-masa.png" alt="Logo"></a>
			<div id="menu-header">
				<ul>
					<li><a href="">&iquest;Qu&eacute; es?</a></li>
					<li><a href="">Beneficios</a></li>
					<li><a href="">&iquest;C&oacute;mo funciona?</a></li>
					<li><a href="">Preguntas Frecuentes</a></li>
					<li><a href="">Cont&aacute;ctanos</a></li>
				</ul>
				<ul id="user-header">
					<li id="compralo"><a href="https://dashboard.vendemas.com.pe/register">C&oacute;mpralo ahora</a></li>
					<li id="cuenta"><a href="https://dashboard.vendemas.com.pe/">Mi cuenta</a></li>
				</ul>
			</div>
		</div>
	</header>

	<section id="banner">
		<article class="banner banner-1">Banner 1</article>
		<article class="banner banner-2">Banner 2</article>
		<article class="banner banner-3">Banner 3</article>
		<article class="banner banner-4">Banner 4</article>
		<article class="banner banner-5">Banner 5</article>
		<article class="handlers"></article>
	</section>

	<section id="pos-movil">
		<div class="container">
			<div>
				<h3>
					<span>Te Presentamos</span>
					<span>Un POS m&oacute;vil</span>
				</h3>
				<p>Que te permite aceptar pagos con tarjetas de cr&eacute;dito y d&eacute;bito en cualquier lugar con tu smartphone.</p>
				<p>Adem&aacute;s, te brinda herramientas para simplificar el manejo de t&uacute; negocio.</p>
			</div>
			<div>
				<img src="../assets/vende-mas-vende-mas.png" alt="" width="210">
				<img src="../assets/vende-mas-vende-mas-mpos-400x493.png" alt="" width="210">
			</div>
			<div>
				<img src="../assets/vende-mas-vende-mas-listo-1-200x67.png" alt="" width="264">
				<a href="#">Simulador de comisi&oacute;n vendem&aacute;s</a>
			</div>
		</div>
	</section>

	<section id="beneficios">
		<h2>&iquest;Qu&eacute; beneficios obtienes con VendeM&aacute;s?</h2>
	</section>

	<section id="list-beneficios">
		<script id="template-list-beneficios" type="text/x-handlebars-template">
			<li>
				<img src="../assets/{{image}}" alt="{{title}}">
				<h3>{{title}}</h3>
				<p>{{description}}</p>
			</li>
		</script>
		<ul class="container"></ul>
		<a href="#" id="mas-beneficios"><span>Ver m&aacute;s</span><span class="fa fa-long-arrow-right"></span></a>
	</section>

	<footer>
		<div class="container">
			<ul>
				<li>Copyright 2018 VendeMás Todos los Derechos Reservados</li>
				<li>Aviso de Privacidad</li>
				<li>T&eacute;rminos y Condiciones</li>
			</ul>
		</div>
	</footer>

	<div id="gotop" class="fa fa-angle-up"></div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
	<script src="../script/main.js"></script>
</body>
</html>