<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Vende M&aacute;s</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Roboto:300,400,500,700" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<header>
		<div class="container">
			<a href="./index.html"><img src="../assets/logo-vende-mas.png" alt="Logo Vende M&aacute;s"></a>
			<div id="menu-header">
				<ul class="menu">
					<li><a href="" class="pos-movil">&iquest;Qu&eacute; es?</a></li>
					<li><a href="" class="beneficios">Beneficios</a></li>
					<li><a href="" class="funcionamiento">&iquest;C&oacute;mo funciona?</a></li>
					<li><a href="" class="preguntas-frecuentes">Preguntas Frecuentes</a></li>
					<li><a href="" class="zona-contacto">Cont&aacute;ctanos</a></li>
				</ul>
				<ul id="user-header">
					<li id="compralo"><a href="https://dashboard.vendemas.com.pe/register">C&oacute;mpralo ahora</a></li>
					<li id="cuenta"><a href="https://dashboard.vendemas.com.pe/">Mi cuenta</a></li>
				</ul>
			</div>
			<div id="btn-menu-responsive" class="fa fa-bars"></div>
		</div>
	</header>

	<ul id="menu-responsive">
		<li><a href="./index.html#pos-movil" class="pos-movil">&iquest;Qu&eacute; es?</a></li>
		<li><a href="" class="beneficios">Beneficios</a></li>
		<li><a href="./index.html#funcionamiento" class="funcionamiento">&iquest;C&oacute;mo funciona?</a></li>
		<li><a href="" class="preguntas-frecuentes">Preguntas Frecuentes</a></li>
		<li><a href="./index.html#zona-contacto" class="zona-contacto">Cont&aacute;ctanos</a></li>
		<li><a href="https://dashboard.vendemas.com.pe/register">C&oacute;mpralo ahora</a></li>
		<li><a href="https://dashboard.vendemas.com.pe/">Mi cuenta</a></li>
	</ul>

	<section id="banner">
		<img class="shadow" src="../assets/shadow.png" alt="">
		<div class="cnt-image-size"><img src="../assets/img-banner-2.jpg" id="image-size"></div>
		<article id="banner-slide" class="banner banner-1">
			<div id="slide1a">
				<div>
					<div>
						<h2><span>Acepta Pagos</span><span>con Tarjetas</span></h2>
						<h3>de cr&eacute;dito y d&eacute;bito</h3>
						<p>desde tu smartphone y en cualquier<br>parte que te encuentres</p>
						<div>
							<img src="../assets/175.png" alt="S/ 175">
							<p>precio &uacute;nico del equipo</p>
						</div>
						<div>
							<img src="../assets/2.99.png" alt="2.99 %">
							<p>Comisi&oacute;n por transacci&oacute;n</p>
						</div>
						<a class="compralo" href="#">C&oacute;mpralo ahora</a>
					</div>
					<img class="calculadora" src="../assets/calculadora.png" alt="">
				</div>
			</div>
			<div>
				<div id="divisor"></div>
				<div id="handler">
					<span class="fa fa-caret-left"></span>
					<span class="fa fa-caret-right"></span>
				</div>
			</div>
			<div id="slide1b">
				<div>
					<img class="billetera" src="../assets/billetera.png" alt="">
					<div>
						<div>
							<h2>&iquest;Tus clientes<br><span>no tienen efectivo?</span></h2>
							<h3><span>&iexcl;No hay</span><br>Problema!</h3>
						</div>
						<div>
							<a href=""><img src="../assets/google-play-banner.png" alt="Co&oacute;mpralo por Google Play"></a>
							<a href=""><img src="../assets/app-store-banner.png" alt="Co&oacute;mpralo por App Store"></a>
						</div>
					</div>
				</div>
			</div>
		</article>
		<article class="banner banner-2">
			<div>
				<div class="here">
					<h2>
						<span>Incrementa tus ventas</span>
						<span>y tus ingresos</span>
					</h2>
					<p>de una manera r&aacute;pida, simple y segura</p>
					<div>
						<a class="compralo" href="#">C&oacute;mpralo ahora</a>
						<a href=""><img src="../assets/google-play-banner.png" alt="Co&oacute;mpralo por Google Play"></a>
						<a href=""><img src="../assets/app-store-banner.png" alt="Co&oacute;mpralo por App Store"></a>
					</div>
				</div>
				<div>
					<img class="hereImg" src="../assets/img-banner-2.jpg" alt="">
				</div>
			</div>
		</article>
		<article class="banner banner-3">
			<div>
				<div class="here">
					<h2>
						<span>Acepta pagos con tarjetas</span>
						<span>de Cr&eacute;dito y d&eacute;bito</span>
					</h2>
					<p>desde tu smartphone y en cualquier<br>parte que te encuentres</p>
					<div>
						<a class="compralo" href="#">C&oacute;mpralo ahora</a>
						<a href=""><img src="../assets/google-play-banner.png" alt="Co&oacute;mpralo por Google Play"></a>
						<a href=""><img src="../assets/app-store-banner.png" alt="Co&oacute;mpralo por App Store"></a>
					</div>
				</div>
				<div><img src="../assets/img-banner-3.jpg" alt=""></div>
			</div>
		</article>
		<article class="banner banner-4">
			<div>
				<div class="here">
					<h2><span>Con VendeM&aacute;s</span></h2>
					<p>y sus simples pasos lograr&aacute;s grandes pasos</p>
					<div>
						<a class="compralo" href="#">C&oacute;mpralo ahora</a>
						<a href=""><img src="../assets/google-play-banner.png" alt="Co&oacute;mpralo por Google Play"></a>
						<a href=""><img src="../assets/app-store-banner.png" alt="Co&oacute;mpralo por App Store"></a>
					</div>
				</div>
				<div><img src="../assets/img-banner-4.jpg" alt=""></div>
			</div>
		</article>
		<article class="banner banner-5">
			<div>
				<img src="../assets/logo-banner.png" alt="Logo VendeM&aacute;s">
				<div>
					<a class="compralo" href="#">C&oacute;mpralo ahora</a>
					<a href=""><img src="../assets/google-play-banner.png" alt="Co&oacute;mpralo por Google Play"></a>
					<a href=""><img src="../assets/app-store-banner.png" alt="Co&oacute;mpralo por App Store"></a>
				</div>
			</div>
		</article>
		<article class="handlers"></article>
	</section>

	<section id="pos-movil">
		<div class="container">
			<div>
				<h3>
					<span>Te Presentamos</span>
					<span>Un POS m&oacute;vil</span>
				</h3>
				<p>Que te permite aceptar pagos con tarjetas de cr&eacute;dito y d&eacute;bito en cualquier lugar con tu smartphone.</p>
				<p>Adem&aacute;s, te brinda herramientas para simplificar el manejo de t&uacute; negocio.</p>
			</div>
			<div class="here">
				<img src="../assets/vende-mas-phone.png" alt="" width="210">
				<img src="../assets/mpos.png" alt="" width="210">
			</div>
			<div>
				<img src="../assets/listo-para-vender.png" alt="" width="264">
				<a href="#" id="btn-simulador">Simulador de comisi&oacute;n vendem&aacute;s</a>
			</div>
		</div>
	</section>

	<section id="beneficios">
		<h2>&iquest;Qu&eacute; beneficios obtienes con VendeM&aacute;s?</h2>
	</section>

	<section id="list-beneficios">
		<script id="template-list-beneficios" type="text/x-handlebars-template">
			<li>
				<img src="../assets/{{image}}" alt="{{title}}">
				<h3>{{title}}</h3>
				<p>{{description}}</p>
			</li>
		</script>
		<ul class="container"></ul>
		<a href="./beneficios.html" id="mas-beneficios" class="btn-default">
			<span>Ver m&aacute;s</span>
			<span class="fa fa-long-arrow-right"></span>
		</a>
	</section>

	<section id="funcionamiento">
		<div class="here">
			<h3>Te ense&ntilde;amos c&oacute;mo funciona</h3>
			<p>Cobra con tarjetas de d&eacute;bito o cr&eacute;dito en simples pasos</p>
		</div>
		<iframe width="600" height="360" src="https://www.youtube.com/embed/mpedFy0-sIM" frameborder="0"></iframe>
		<div class="mas-info">
			<span class="fa fa-chevron-down"></span>
			<p>Para m&aacute;s informaci&oacute;n acomp&aacute;&ntilde;anos a nuestro canal de YouTube</p>
			<a href="https://www.youtube.com/channel/UCkCm2cT9Rz41VWi7UwoY5bQ/videos" target="_blank" id="go-youtube" class="btn-default">
				<span>Entrar</span>
				<span class="fa fa-long-arrow-right"></span>
			</a>
		</div>
	</section>

	<section id="preguntas-frecuentes">
		<h3>Respuestas inmediatas a tus preguntas</h3>
		<a href="./preguntas-frecuentes.html" target="_blank" class="btn-default" id="btnPreguntasFrecuentes">
				<span>Preguntas Frecuentes</span>
				<span class="fa fa-long-arrow-right"></span>
			</a>
	</section>

	<section id="zona-contacto">
		<div>
			<h4>Si deseas cont&aacute;ctate con nosotros de manera personal</h4>
			<h3>Estamos a tu servicio</h3>
			<a href="#" class="btn-default" id="btn-contacto"><span>Cont&aacute;ctanos</span></a>
		</div>
		<div class="media container">
			<img src="../assets/logo-vende-mas.png" alt="Logo Vende M&aacute;s" width="160">
			<div>
				<strong>Cont&aacute;ctanos</strong>
				<p>contacto@vendemas.com.pe</p>
			</div>
			<div>
				<strong>B&uacute;scanos en:</strong>
				<ul class="social-media">
					<li class="tooltip">
						<a href="#" target="_blank" class="fa fa-facebook"></a>
						<span class="tooltiptext">Facebook</span>
					</li>
					<li class="tooltip">
						<a href="https://www.youtube.com/channel/UCkCm2cT9Rz41VWi7UwoY5bQ/videos" target="_blank" class="fa fa-youtube-play"></a>
						<span class="tooltiptext">YouTube</span>
					</li>
				</ul>
			</div>
			<div>
				<strong>Descarga nuestra aplicaci&oacute;n:</strong>
				<ul class="download">
					<li><a href="https://play.google.com/store/apps/details?id=com.geopagos.vendeMas" target="_blank"><img src="../assets/google-play.png" alt="Descarga desde Google Play" width="116"></a></li>
					<li><a href="#"  target="_blank"><img src="../assets/app-store.png" alt="Descarga desde App Store" width="116"></a></li>
				</ul>
			</div>
		</div>
	</section>

	<section id="modal-contacto" class="back-modal">
		<div class="modal">
			<h3>D&eacute;janos tu mensaje y</h3>
			<h4>nos pondremos en contacto a la brevedad</h4>
			<div>
				<form id="contacto">
					<input id="name" type="text" placeholder="Nombres y apellidos" data-valid="false">
					<div>
						<input id="dni" type="text" placeholder="DNI" data-valid="false">
						<input id="telefono" type="text" placeholder="Tel&eacute;fono m&oacute;vil" data-valid="false">
					</div>
					<input id="email" type="text" placeholder="Correo electr&oacute;nico" data-valid="false">
					<select id="tipo">
						<option value="">Tipo de consulta</option>
						<option value="">- &iquest;C&oacute;mo adquirir el producto?</option>
						<option value="">- Otras consultas</option>
					</select>
					<textarea id="mensaje" placeholder="Mensaje"></textarea>
					<input type="submit" value="Enviar">
				</form>
				<div>
					<ul>
						<li class="here"><span class="fa fa-envelope-o"></span></li>
						<li>contacto@vendemas.com.pe</li>
					</ul>
					<ul>
						<li class="here"><span class="fa fa-phone"></span></li>
						<li>(01) 514 - 9222</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section id="modal-simulador" class="back-modal">
		<div class="modal">
			<h3>Simulador de Comisi&oacute;n</h3>
			<div class="here">
				<label for="venta">
					<span>Ingresa venta (S/.)</span>
					<input type="text" id="venta" placeholder="0.00">
				</label>
				<img src="../assets/simulador.png" alt="Comisi&oacute;n VendeM&aacute;s">
			</div>
			<label for="total">
				<span>Total a Pagar (S/.)</span>
				<input type="text" id="total" placeholder="0.00" readonly>
			</label>
			<label for="comision">
				<span>Comisi&oacute;n a descontar (S/.)</span>
				<input type="text" id="comision" placeholder="0.00" readonly>
			</label>
		</div>
	</section>

	<footer>
		<div class="container">
			<p>Copyright 2018 VendeMás Todos los Derechos Reservados&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Aviso de Privacidad&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="./terminos-condiciones.html">T&eacute;rminos y Condiciones</a></p>
		</div>
	</footer>

	<div id="gotop" class="fa fa-angle-up"></div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
	<script src="../script/main.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			templateHome();
			preventMenu();
			lazyLoadIndex();
			resizeInput();
			$(window).resize(resizeInput);
			swipeBanner();
			$('#menu-responsive .beneficios, #menu-responsive .preguntas-frecuentes').click(function(ev){
				ev.preventDefault();
				console.log('aa')
			});
		});
	</script>
</body>
</html>