<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Vende M&aacute;s</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Roboto:300,400,500,700" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<header>
		<div class="container">
			<a href="./index.html"><img src="../assets/logo-vende-mas.png" alt="Logo Vende M&aacute;s"></a>
			<div id="menu-header">
				<ul class="menu">
					<li><a href="" class="pos-movil">&iquest;Qu&eacute; es?</a></li>
					<li><a href="./beneficios.html" class="beneficios">Beneficios</a></li>
					<li><a href="" class="funcionamiento">&iquest;C&oacute;mo funciona?</a></li>
					<li><a href="./preguntas-frecuents.html" class="preguntas-frecuentes active">Preguntas Frecuentes</a></li>
					<li><a href="" class="zona-contacto">Cont&aacute;ctanos</a></li>
				</ul>
				<ul id="user-header">
					<li id="compralo"><a href="https://dashboard.vendemas.com.pe/register">C&oacute;mpralo ahora</a></li>
					<li id="cuenta"><a href="https://dashboard.vendemas.com.pe/">Mi cuenta</a></li>
				</ul>
			</div>
			<div id="btn-menu-responsive" class="fa fa-bars"></div>
		</div>
	</header>
	
	<ul id="menu-responsive">
		<li><a href="" class="pos-movil">&iquest;Qu&eacute; es?</a></li>
		<li><a href="" class="beneficios">Beneficios</a></li>
		<li><a href="" class="funcionamiento">&iquest;C&oacute;mo funciona?</a></li>
		<li><a href="" class="preguntas-frecuentes active">Preguntas Frecuentes</a></li>
		<li><a href="" class="zona-contacto">Cont&aacute;ctanos</a></li>
		<li><a href="https://dashboard.vendemas.com.pe/register">C&oacute;mpralo ahora</a></li>
		<li><a href="https://dashboard.vendemas.com.pe/">Mi cuenta</a></li>
	</ul>

	<section id="banner">
		<img class="shadow" src="../assets/shadow.png" alt="">
		<article class="banner banner-1">
			<div>
				<h2><span>Acepta Pagos</span><span>con Tarjetas</span></h2>
				<h3>de cr&eacute;dito y d&eacute;bito</h3>
				<p>desde tu smartphone y en cualquier<br>parte que te encuentres</p>
				<div>
					<img src="../assets/175.png" alt="S/ 175">
					<p>precio &uacute;nico del equipo</p>
				</div>
				<div>
					<img src="../assets/2.99.png" alt="2.99 %">
					<p>Comisi&oacute;n por transacci&oacute;n</p>
				</div>
				<a class="compralo" href="#">C&oacute;mpralo ahora</a>
			</div>
			<img src="../assets/calculadora.png" alt="" width="606">
		</article>
		<article class="banner banner-2">
			<div>
				<div class="here">
					<h2>
						<span>Incrementa tus ventas</span>
						<span>y tus ingresos</span>
					</h2>
					<p>de una manera r&aacute;pida, simple y segura</p>
					<div>
						<a class="compralo" href="#">C&oacute;mpralo ahora</a>
						<a href=""><img src="../assets/google-play-banner.png" alt="Co&oacute;mpralo por Google Play"></a>
						<a href=""><img src="../assets/app-store-banner.png" alt="Co&oacute;mpralo por App Store"></a>
					</div>
				</div>
				<div><img class="hereImg" src="../assets/img-banner-2.jpg" alt=""></div>
			</div>
		</article>
		<article class="banner banner-3">
			<div>
				<div class="here">
					<h2>
						<span>Acepta pagos con tarjetas</span>
						<span>de Cr&eacute;dito y d&eacute;bito</span>
					</h2>
					<p>desde tu smartphone y en cualquier<br>parte que te encuentres</p>
					<div>
						<a class="compralo" href="#">C&oacute;mpralo ahora</a>
						<a href=""><img src="../assets/google-play-banner.png" alt="Co&oacute;mpralo por Google Play"></a>
						<a href=""><img src="../assets/app-store-banner.png" alt="Co&oacute;mpralo por App Store"></a>
					</div>
				</div>
				<div><img src="../assets/img-banner-3.jpg" alt=""></div>
			</div>
		</article>
		<article class="banner banner-4">
			<div>
				<div class="here">
					<h2><span>Con VendeM&aacute;s</span></h2>
					<p>y sus simples pasos lograr&aacute;s grandes pasos</p>
					<div>
						<a class="compralo" href="#">C&oacute;mpralo ahora</a>
						<a href=""><img src="../assets/google-play-banner.png" alt="Co&oacute;mpralo por Google Play"></a>
						<a href=""><img src="../assets/app-store-banner.png" alt="Co&oacute;mpralo por App Store"></a>
					</div>
				</div>
				<div><img src="../assets/img-banner-4.jpg" alt=""></div>
			</div>
		</article>
		<article class="banner banner-5">
			<div>
				<img src="../assets/logo-banner.png" alt="Logo VendeM&aacute;s">
				<div>
					<a class="compralo" href="#">C&oacute;mpralo ahora</a>
					<a href=""><img src="../assets/google-play-banner.png" alt="Co&oacute;mpralo por Google Play"></a>
					<a href=""><img src="../assets/app-store-banner.png" alt="Co&oacute;mpralo por App Store"></a>
				</div>
			</div>
		</article>
		<article class="handlers"></article>
	</section>

	<section id="cont-preguntas" class="container">
		<h3>Preguntas Frecuentes</h3>
		<h4>(Soluciones online)</h4>

		<article id="pregunta-1">
			<div class="pregunta">
				<span class="fa fa-plus"></span>
				<span>&iquest;C&oacute;mo registrarme en VendeM&aacute;s?</span>
			</div>
			<div class="respuesta">
				<div class="slide">
					<img class="width-auto active" src="../assets/pregunta-1a.jpg" alt="">
					<img class="width-auto" src="../assets/pregunta-1b.jpg" alt="">
					<img class="width-all" src="../assets/pregunta-1c.jpg" alt="">
				</div>
				<ul>
					<li>La aplicaci&oacute;n VendeM&aacute;s puede ser descargada desde la tienda Google Play, en caso utilices un dispositivo Android, o de la App Store (si cuentas con un dispositivo IOS).</li>
					<li>Si a&uacute;n no eres usuario de VendeM&aacute;s, puedes registrarte ingresando a la p&aacute;gina Web (<a href="https://www.vendemás.com.pe">www.vendemás.com.pe</a>) o desde la pantalla inicial de la aplicaci&oacute;n VendeM&aacute;s.</li>
					<li>Una vez creada la cuenta para operar con VendeM&aacute;s, tendr&aacute;s que confirmar el registro a trav&eacute;s de un e-mail. &Eacute;ste ser&aacute; enviado a la cuenta de correo electr&oacute;nico con el que te registraste.</li>
					<li>No olvides que todos los datos en el registro deben tener relaci&oacute;n entre s&iacute;. Si te inscribiste con tu DNI, entonces la cuenta que ingreses debe estar a tu nombre. En caso el registro sea al RUC de una empresa, la cuenta debe figurar al nombre de la empresa.</li>
				</ul>
			</div>
		</article>
		<article id="pregunta-2">
			<div class="pregunta">
				<span class="fa fa-plus"></span>
				<span>&iquest;Qu&eacute; hacer si olvide m&iacute; contrase&ntilde;a?</span>
			</div>
			<div class="respuesta">
				<div class="slide">
					<img class="width-auto" src="../assets/pregunta-2.png" alt="">
				</div>
				<ul>
					<li>En caso olvides tu contrase&ntilde;a, puedes recuperarla al instante presionando el bot&oacute;n &quot;Olvid&eacute; mi contrase&ntilde;a&quot; en la pantalla inicial.</li>
				</ul>
			</div>
		</article>
		<article id="pregunta-3">
			<div class="pregunta">
				<span class="fa fa-plus"></span>
				<span>&iquest;C&oacute;mo puedo realizar ventas?</span>
			</div>
			<div class="respuesta">
				<div>
					<div class="here">
						<div class="slide">
							<img src="../assets/pregunta-3a.png" alt="">
						</div>
						<div>
							<p>Existen dos formas de ingresar los productos para realizar una venta:</p>
							<p><strong>1. </strong>Presionando los n&uacute;meros de la calculadora inicial de la aplicaci&oacute;n, la cual permite ingresar un monto de forma manual y su descripci&oacute;n puntual.</p>
							<p><strong>2. </strong>Buscando en el cat&aacute;logo (previamente creado), el cual permite seleccionar directamente un producto y la cantidad de unidades pedidas. Para abrir la pantalla del cat&aacute;logo debes darle click al segundo bot&oacute;n en la parte inferior de la calculadora.</p>
						</div>
					</div>
					<div class="here">
						<div class="slide">
							<img src="../assets/pregunta-3b.png" alt="">
						</div>
						<div>
							<p>Sin importar qu&eacute; forma de venta utilices, podr&aacute;s visualizar la lista de los productos ingresados antes de cobrar al presionar el carrito ubicado en la parte superior derecha de la pantalla.</p>
							<p>Para continuar con la venta, presiona el bot&oacute;n &quot;Cobrar&quot;. La aplicaci&oacute;n buscar&aacute; el MPOS a trav&eacute;s del Bluetooth y pedir&aacute; que ingreses o deslices la tarjeta de tu cliente.</p>
						</div>
					</div>
					<p>Al finalizar el reconocimiento de la tarjeta, el cliente deber&aacute; ingresar unos datos adicionales seg&uacute;n el tipo de tarjeta que utilice:</p>
					<ul>
						<li class="list-default">Si es de d&eacute;bito: deber&aacute; ingresar su contrase&ntilde;a en el MPOS.</li>
						<li class="list-default">Si es de cr&eacute;dito: deber&aacute; ingresar su DNI en la aplicaci&oacute;n y luego proceder&aacute; a realizar una firma con el dedo.</li>
					</ul>
					<p>Por &uacute;ltimo, podr&aacute;s enviar el voucher de la transacci&oacute;n <strong><u>(este documento no reemplaza la boleta o factura de venta)</u></strong> al correo electr&oacute;nico del cliente. De no requerir este env&iacute;o, el cliente puede solicitar omitir la recepci&oacute;n de este recibo presionando el bot&oacute;n &quot;Omitir&quot;.</p>
				</div>
			</div>
		</article>
		<article id="pregunta-4">
			<div class="pregunta">
				<span class="fa fa-plus"></span>
				<span>&iquest;Para qu&eacute; sirve el historial?</span>
			</div>
			<div class="respuesta">
				<div class="slide">
					<img class="width-auto" src="../assets/pregunta-4.png" alt="">
				</div>
				<ul>
					<li>En la sección &quot;Historial&quot; podr&aacute;s visualizar todos tus movimientos realizados en la aplicaci&oacute;n: desde el monto de cada una de las ventas que realizaste, la fecha de la transacci&oacute;n y la persona que te compr&oacute; hasta el lugar exacto en el que realizaste la venta (ubicado en un mapa – geolocalizaci&oacute;n).</li>
					<li>Al deslizar la pantalla hacia arriba se ir&aacute;n mostrando las transacciones de fechas anteriores. Para encontrar una transacci&oacute;n en particular, se puede filtrar por n&uacute;mero de tarjeta, descripci&oacute;n o fecha desde el buscador. En caso necesites acceder al detalle de alguna de las transacciones, selecciona la operaci&oacute;n y te llevar&aacute; a la nueva vista.</li>
					<li>Para volver a enviar un recibo de una de las transacciones, presiona &quot;Enviar recibo&quot;, ingresa el e-mail del cliente y dale click a &quot;Enviar&quot;.</li>
				</ul>
			</div>
		</article>
		<article id="pregunta-5">
			<div class="pregunta">
				<span class="fa fa-plus"></span>
				<span>&iquest;C&oacute;mo puedo administrar una base de clientes?</span>
			</div>
			<div class="respuesta">
				<ul>
					<li>Esta herramienta te permite administrar una base de datos con la informaci&oacute;n de todos tus clientes. Al finalizar cada transacci&oacute;n, el nombre, apellido, tel&eacute;fono y direcci&oacute;n e-mail del cliente (en caso de haber sido introducidos) son importados autom&aacute;ticamente a la base. Si deseas ubicar m&aacute;s r&aacute;pido un cliente puntual, se puede filtrar por nombre, e-mail o tel&eacute;fono desde el buscador.</li>
					<li>Si tienes la necesidad de editar los datos de un cliente, se debe seleccionar al mismo del listado y luego presionar &quot;Ed&quot;. Tambi&eacute;n, al seleccionar un cliente espec&iacute;fico puedes acceder al listado de operaciones del mismo.</li>
				</ul>
			</div>
		</article>
		<article id="pregunta-6">
			<div class="pregunta">
				<span class="fa fa-plus"></span>
				<span>&iquest;Los clientes pueden hacer comentarios de mi negocio?</span>
			</div>
			<div class="respuesta">
				<ul>
					<li>En esta secci&oacute;n se encontrar&aacute;n los comentarios que los clientes realicen sobre el servicio. La informaci&oacute;n de este campo es alimentada por la encuesta que salta cuando el cliente abre el correo del voucher. El mensaje incluye unas manitos con los dedos arriba y hacia abajo (que indican el nivel de satisfacci&oacute;n de la compra) y un campo de comentarios adicionales.</li>
				</ul>
			</div>
		</article>
		<article id="pregunta-7">
			<div class="pregunta">
				<span class="fa fa-plus"></span>
				<span>&iquest;Para qu&eacute; me sirve crear un cat&aacute;logo de productos?</span>
			</div>
			<div class="respuesta">
				<div class="slide">
					<img class="width-auto" src="../assets/pregunta-7.png" alt="">
				</div>
				<div>
					<p>La secci&oacute;n &quot;Cat&aacute;logo&quot; permite crear, eliminar y/o editar productos, categor&iacute;as o subcategor&iacute;as del cat&aacute;logo.</p>
					<p>Cada &iacute;tem tendr&aacute; los siguientes campos:</p>
					<ul>
						<li>Nombre del producto</li>
						<li>Precio (y moneda)</li>
						<li>Categor&iacute;a</li>
						<li>Descripci&oacute;n (opcional)</li>
						<li>Foto (o color de etiqueta)</li>
					</ul>
					<p>Accediendo a la funci&oacute;n de categor&iacute;as, podr&aacute;s editar la lista de categor&iacute;as, modificando las asignaciones y creando categor&iacute;as (que podr&aacute;n o no contener dentro subcategor&iacute;as).</p>
				</div>
			</div>
		</article>
		<article id="pregunta-8">
			<div class="pregunta">
				<span class="fa fa-plus"></span>
				<span>&iquest;C&oacute;mo armar un staff de vendedores con la aplicaci&oacute;n VendeM&aacute;s?</span>
			</div>
			<div class="respuesta">
				<ul>
					<li>Para armar un staff de vendedores bajo tu cuenta debes entrar a nuestra web (<a href="https://www.vendemas.com.pe">https://www.vendemas.com.pe</a>) desde una lap top o un CPU. En la parte superior de la p&aacute;gina dale click al bot&oacute;n &quot;MI CUENTA&quot;. En la nueva ventana que te aparezca debes ingresar con tu usuario y contrase&ntilde;a. Una vez abierta tu cuenta, sigue los siguientes pasos:
						<ol>
							<li>Haz click en Comercio (ubicado en la parte superior de la pantalla).</li>
							<li>Haz click en Nuevo usuario – all&iacute; deber ingresar todos los datos de la persona a la que le crear&aacute;s el acceso. Una vez termines de completar todos los datos, hacer click en crear.</li>
						</ol>
					</li>
					<li>La persona a la que le creaste el acceso recibir&aacute; un correo de confirmaci&oacute;n en su bandeja de entrada (este correo ser&aacute; el mismo que pusiste en nuevo usuario). Una vez abierto el correo, el nuevo usuario debe hacer click en &quot;Confirma&quot;. Esta acci&oacute;n lo llevar&aacute; a la aplicaci&oacute;n de VendeM&aacute;s, donde tendr&aacute; que crear su contrase&ntilde;a. Con este &uacute;ltimo paso el vendedor adicionado a tu cuenta ya est&aacute; listo para utilizar la herramienta con su propia cuenta y contrase&ntilde;a.</li>
				</ul>
			</div>
		</article>
		<article id="pregunta-9">
			<div class="pregunta">
				<span class="fa fa-plus"></span>
				<span>&iquest;C&oacute;mo agregar la imagen de mi negocio a mi cuenta de VendeM&aacute;s?</span>
			</div>
			<div class="respuesta">
				<div class="slide">
					<img class="width-auto" src="../assets/pregunta-8.png" alt="">
				</div>
				<ul>
					<li>En esta secci&oacute;n se podr&aacute; seleccionar una imagen o logotipo para t&uacute; comercio. Esta imagen es muy importante, ya que ser&aacute; la que se mostrar&aacute; en el recibo generado al cliente. En &eacute;ste tambi&eacute;n se mostrar&aacute; el nombre del comercio con el que te registres y el email.</li>
				</ul>
			</div>
		</article>
		<article id="pregunta-10">
			<div class="pregunta">
				<span class="fa fa-plus"></span>
				<span>&iquest;C&oacute;mo cierro mi sesi&oacute;n en la aplicaci&oacute;n de VendeM&aacute;s?</span>
			</div>
			<div class="respuesta">
				<ul>
					<li>En caso de querer cerrar la sesi&oacute;n, podr&aacute;s hacerlo en cualquier momento desde el men&uacute; de la aplicaci&oacute;n. Al presionar &quot;Salir&quot;, se te pedir&aacute; que confirmes la acci&oacute;n y luego se cerrar&aacute; la sesi&oacute;n.</li>
				</ul>
			</div>
		</article>
		<article id="pregunta-11">
			<div class="pregunta">
				<span class="fa fa-plus"></span>
				<span>&iquest;C&oacute;mo puedo anular una venta?</span>
			</div>
			<div class="respuesta">
				<div class="slide">
					<img class="width-auto" src="../assets/pregunta-10.png" alt="">
				</div>
				<ul>
					<li>Dentro de la sección &quot;Historial&quot;, se debe buscar la venta que se desea anular. Esta b&uacute;squeda puede ser por n&uacute;mero de tarjeta, una descripci&oacute;n o una fecha. Cuando hayas encontrado la venta espec&iacute;fica, ingresa al detalle y presiona el bot&oacute;n &quot;Anular&quot;. Paso seguido, debes confirmar que realmente quieres anular dicha venta y el lector (MPOS VendeM&aacute;s) se vuelve a enlazar con la aplicaci&oacute;n – mismo proceso que el que se da para realizar la venta. Una vez indique que se debe pasar la tarjeta (la misma con la que se realiz&oacute; la venta), siempre debe deslizarse por la ranura superior (sin importar si tiene Chip).<br><br>*Este procedimiento de anulaciones s&oacute;lo aplica si la anulaci&oacute;n se realiza dentro del mismo d&iacute;a en que se realiz&oacute; la venta. Si pasara un periodo mayor, debe comunicarse con nuestro Call Center <strong>(5149222)</strong> para poder levantar el inconveniente.</li>
				</ul>
			</div>
		</article>
		<article id="pregunta-12">
			<div class="pregunta">
				<span class="fa fa-plus"></span>
				<span>&iquest;Para qu&eacute; sirve el Panel de Control de VendeM&aacute;s?</span>
			</div>
			<div class="respuesta">
				<div class="slide">
					<img class="width-all active" src="../assets/pregunta-11a.png" alt="">
					<img class="width-all" src="../assets/pregunta-11b.png" alt="">
				</div>
				<ul>
					<li>Esta herramienta permite que el usuario pueda visualizar las estad&iacute;sticas y gr&aacute;ficos de todo el detalle de sus ventas, como por ejemplo: los productos m&aacute;s vendidos (en caso haya creado un cat&aacute;logo en la aplicaci&oacute;n), los clientes que m&aacute;s le compraron, el progreso de las ventas dentro del mes, etc. Para poder acceder a este portal, debe ingresar con su usuario de registro d&aacute;ndo click en el bot&oacute;n &quot;Mi Cuenta&quot; en la p&aacute;gina <a href="https://www.vendemas.com.pe">https://www.vendemas.com.pe</a>.</li>
				</ul>
			</div>
		</article>
		<article id="pregunta-13">
			<div class="pregunta">
				<span class="fa fa-plus"></span>
				<span>&iquest;C&oacute;mo puedo contactarme con VendeM&aacute;s?</span>
			</div>
			<div class="respuesta">
				<div>
					<p>Si deseas contactarte con nosotros puedes realizarlo a trav&eacute;s del Call Center o el correo electr&oacute;nico de la empresa:</p>
					<ul>
						<li>Call Center VendeM&aacute;s: <strong>(01) 514 - 9222</strong></li>
						<li>Correo VendeM&aacute;s: <strong>contacto@vendemas.com.pe</strong></li>
					</ul>
				</div>
			</div>
		</article>

	</section>

	<section id="zona-contacto" style="padding-top: 0;">
		<div></div>
		<div class="media container">
			<img src="../assets/logo-vende-mas.png" alt="Logo Vende M&aacute;s" width="160">
			<div>
				<strong>Cont&aacute;ctanos</strong>
				<p>contacto@vendemas.com.pe</p>
			</div>
			<div>
				<strong>B&uacute;scanos en:</strong>
				<ul class="social-media">
					<li class="tooltip">
						<a href="#" target="_blank" class="fa fa-facebook"></a>
						<span class="tooltiptext">Facebook</span>
					</li>
					<li class="tooltip">
						<a href="https://www.youtube.com/channel/UCkCm2cT9Rz41VWi7UwoY5bQ/videos" target="_blank" class="fa fa-youtube-play"></a>
						<span class="tooltiptext">YouTube</span>
					</li>
				</ul>
			</div>
			<div>
				<strong>Descarga nuestra aplicaci&oacute;n:</strong>
				<ul class="download">
					<li><a href="https://play.google.com/store/apps/details?id=com.geopagos.vendeMas" target="_blank"><img src="../assets/google-play.png" alt="Descarga desde Google Play" width="116"></a></li>
					<li><a href="#"  target="_blank"><img src="../assets/app-store.png" alt="Descarga desde App Store" width="116"></a></li>
				</ul>
			</div>
		</div>
	</section>

	<footer>
		<div class="container">
			<p>Copyright 2018 VendeMás Todos los Derechos Reservados&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Aviso de Privacidad&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="./terminos-condiciones.html">T&eacute;rminos y Condiciones</a></p>
		</div>
	</footer>

	<div id="gotop" class="fa fa-angle-up"></div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
	<script src="../script/main.js"></script>
</body>
</html>