$roboto-regular: 'Roboto', sans-serif;
$border-color: #d2d3d4;
$morado: #61388b;
$morado-hover: #c72a81;
$magenta: #EB2588;
$verde: #a0ce4e;
$verde-hover: #96c346;
$negro: #282A2B;
$transition: 0.2s linear;

%block-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

%block-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $roboto-regular;
}

p { margin: 15px 0; }

body {
	position: relative;
	padding-top: 124px;
}

.container {
	max-width: 1100px;
	width: 100%;
	margin: auto;
}

header {
	border-bottom: 1px solid $border-color;
	position: fixed;
	width: 100%;
	top: 0;
	background-color: #fff;
	z-index: 200;
	img {
		margin: 10px 0;
		width: 100%;
		transition: $transition;
	}
	.container {
		@extend %block-between;
		#menu-header {
			@extend %block-between;
			ul:not(#user-header) {
				@extend %block-between;
				li {
					display: block;
					line-height: 124px;
					transition: $transition;
					a {
						padding: 0 13px;
						display: block;
						height: 100%;
						text-decoration: none;
						color: $morado;
						font-size: 14px;
						transition: $transition;
						&:hover {
							color: $morado-hover;
							background-color: #e4dded;
						}
					}
				}
			}
			ul#user-header {
				@extend %block-between;
				li {
					display: block;
					a {
						text-decoration: none;
						font-size: 12px;
						text-transform: uppercase;
						line-height: 32px;
						display: block;
						padding: 0 20px;
						background-color: lightgray;
						border-radius: 16px;
						margin: 0 13px;
						color: #fff;
						transition: $transition;
					}
					&#compralo a {
						background-color: $verde;
						&:hover { background-color: $verde-hover; }
					}
					&#cuenta a { background-color: $magenta; }
				}
			}
		}
	}
}

footer {
	background-color: $negro;
	color: #fff;
	font-size: 12px;
	ul {
		@extend %block-center;
		list-style: none;
		li {
			line-height: 50px;
			padding: 0 10px;
			&:not(:last-child)::after {
				content: '|';
				margin-left: 20px;
			}
		}
	}
}

#gotop {
	position: absolute;
	bottom: 0;
	display: none;
	width: 48px;
	line-height: 35px;
	background-color: #333;
	color: #fff;
	text-align: center;
	right: 75px;
	border-radius: 4px 4px 0 0;
	cursor: pointer;
	transition: $transition;
	font-size: 22px;
	position: fixed;
	&:hover {
		background-color: $verde;
	}
}

#banner {
	position: relative;
	img {
		max-height: 760px;
		width: 100%;
	}
	.handlers {
		@extend %block-center;
		position: absolute;
		bottom: 15px;
		width: 100%;
		.dot {
			display: block;
			height: 18px;
			width: 18px;
			border: 3px solid rgb(229, 229, 229);
			background: rgba(122,122,122,1);
			background: -moz-linear-gradient(top, rgba(122,122,122,1) 0%, rgba(255,255,255,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(122,122,122,1)), color-stop(100%, rgba(255,255,255,1)));
			background: -webkit-linear-gradient(top, rgba(122,122,122,1) 0%, rgba(255,255,255,1) 100%);
			background: -o-linear-gradient(top, rgba(122,122,122,1) 0%, rgba(255,255,255,1) 100%);
			background: -ms-linear-gradient(top, rgba(122,122,122,1) 0%, rgba(255,255,255,1) 100%);
			background: linear-gradient(to bottom, rgba(122,122,122,1) 0%, rgba(255,255,255,1) 100%);
			margin: 0 3px;
			border-radius: 50%;
			cursor: pointer;
			&.active {
				background: rgb(102, 102, 102);
			}
		}
	}
	.banner-1a {
		.calculadora {
			background-image: url('../assets/calculadora.png');
			display: block;
			height: 638px;
			width: 475px;
			z-index: 12;
			position: relative;
			margin: auto;
		}
	}
}

#pos-movil {
	padding: 82px 0 52px 0;
	background-image: url('../assets/pos-movil.jpg');
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	& > div {
		@extend %block-between;
		& > div:first-child {
			max-width: 350px;
			h3 {
				position: relative;
				margin-bottom: 50px;
				span {
					display: block;
					font-size: 35px;
					font-weight: 400;
					&:first-child {
						color: $magenta;
					}
					&:last-child {
						color: $morado;
					}
				}
				&::after {
					content: '';
					display: block;
					position: absolute;
					width: 80px;
					height: 2px;
					background-color: $morado;
					bottom: -15px;
				}
			}
			p {
				font-weight: 300;
				font-size: 15px;
				color: #636363;
			}
		}
		& > div:nth-child(3) {
			display: flex;
			flex-direction: column;
			a {
				text-decoration: none;
				font-size: 18px;
				color: #fff;
				text-transform: uppercase;
				display: block;
				width: 264px;
				padding: 14px 50px;
				text-align: center;
				background-color: $morado;
				border-radius: 2px;
				margin-top: 10px;
				transition: $transition;
				&:hover {
					background-color: $magenta;
				}
			}
		}
		img {
			transition: 1s;
			&:hover {
				transform: scale(1.1);
				opacity: 0.95;
			}
		}
	}
}

#beneficios {
	background-image: url(../assets/fondo-requisitos.jpg);
	background-position: center center;
	background-attachment: fixed;
	color: #fff;
	padding: 60px 0;
	h2 {
		margin: auto;
		text-align: center;
		font-size: 35px;
		font-weight: 400;
		max-width: 600px;
	}
}