$roboto-regular: 'Roboto', sans-serif;
$lato-regular: 'Lato', sans-serif;
$border-color: #d2d3d4;
$morado: #61388b;
$morado-hover: #c72a81;
$magenta: #EB2588;
$verde: #a0ce4e;
$verde-hover: #96c346;
$negro: #282A2B;
$transition: 0.2s linear;
$color-text: #747474;
$font-awesome: 'FontAwesome';

%block-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

%block-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $roboto-regular;
	font-weight: 400;
}

p {
	margin: 15px 0;
	line-height: 1.4;
	font-size: 15px;
	font-weight: 300;
	font-family: $roboto-regular;
	color: $color-text;
}

strong {
	font-weight: 700;
	color: #636363;
}

.btn-default {
	margin: auto;
	font-size: 13px;
	line-height: 38px;
	background-color: $morado;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	width: 130px;
	text-align: center;
	border-radius: 2px;
	transition: $transition;
	margin-top: 30px;
	@extend %block-between;
	&:hover { background-color: $magenta; }
	span {
		width: 100%;
		height: 100%;
		display: inline-block;
	}
	.fa {
		border-left: 1px solid #fff;
		display: inline-block;
		line-height: 38px;
		width: 50px;
		text-align: center;
		box-sizing: border-box;
	}
}

body {
	position: relative;
	padding-top: 124px;
	transition: $transition;
	overflow-x: hidden;
}

.container {
	max-width: 1100px;
	width: 100%;
	margin: auto;
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 10px;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 30px;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 1s;
	font-size: 12px;
	font-weight: 300;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

header {
	border-bottom: 1px solid $border-color;
	position: fixed;
	width: 100%;
	top: 0;
	background-color: #fff;
	z-index: 200;
	img {
		margin: 5px 0 0 0;
		width: 100%;
		transition: $transition;
	}
	.container {
		@extend %block-between;
		flex-wrap: wrap;
		#btn-menu-responsive {
			color: #dadada;
			font-size: 21px;
			line-height: 124px;
			margin-right: 20px;
			cursor: pointer;
			display: none;
		}
		#menu-header {
			@extend %block-between;
			ul:not(#user-header) {
				@extend %block-between;
				li {
					display: block;
					line-height: 124px;
					transition: $transition;
					a {
						padding: 0 13px;
						display: block;
						height: 100%;
						text-decoration: none;
						color: $morado;
						font-size: 14px;
						transition: $transition;
						&:hover, &.active {
							color: $morado-hover;
							background-color: #e4dded;
						}
					}
				}
			}
			ul#user-header {
				@extend %block-between;
				li {
					display: block;
					a {
						text-decoration: none;
						font-size: 12px;
						text-transform: uppercase;
						line-height: 32px;
						display: block;
						padding: 0 20px;
						background-color: lightgray;
						border-radius: 16px;
						margin: 0 13px;
						color: #fff;
						transition: $transition;
					}
					&#compralo a {
						background-color: $verde;
						&:hover { background-color: $verde-hover; }
					}
					&#cuenta a { background-color: $magenta; }
				}
			}
		}
	}
}

#menu-responsive {
	display: none;
	list-style: none;
	li {
		line-height: 35px;
		font-size: 12px;
		font-weight: 300;
		color: #333;
		border-top: 1px solid #dadada;
		background-color: #f9f9f9;
		&:first-child { border-top: 0; }
		a {
			text-decoration: none;
			padding: 0 30px;
			color: inherit;
			height: 100%;
			display: block;
			width: 100%;
		}
	}
}

footer {
	background-color: $negro;
	padding: 20px 10px;
	p {
		color: #fff;
		font-size: 12px;
		text-align: center;
		margin: 0;
		a {
			text-decoration: none;
			color: inherit;
		}
	}
}

#gotop {
	position: absolute;
	bottom: 0;
	display: none;
	width: 48px;
	line-height: 35px;
	background-color: #333;
	color: #fff;
	text-align: center;
	right: 75px;
	border-radius: 4px 4px 0 0;
	cursor: pointer;
	transition: $transition;
	font-size: 22px;
	position: fixed;
	z-index: 30;
	&:hover {
		background-color: $verde;
	}
}

#banner {
	position: relative;
	max-height: 800px;
	background-image: url(../assets/fondo-banner-1a.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	overflow: hidden;
	transition: $transition;
	#banner-slide {
		position: relative;
		* {
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none; 
		}
		& > div {
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
		}
		#slide1a {
			background-image: url(../assets/fondo-banner-1a.jpg);
			background-size: cover;
			background-position: center center;
			background-attachment: fixed;
			width: 50%;
			overflow: hidden;
			z-index: 2;
			min-width: 5px;
			& > div {
				width: 100vw;
				display: flex;
				justify-content: center;
				margin-left: -200px;
				align-items: center;
				& > div { margin-top: 120px; }
			}
			.calculadora {
				margin-left: 80px;
			}
		}
		#slide1b {
			background-image: url(../assets/fondo-banner-5.jpg);
			background-size: cover;
			background-position: center center;
			background-attachment: fixed;
			& > div {
				width: 100vw;
				display: flex;
				justify-content: center;
				margin-right: -200px;
				align-items: center;
				& > div { transform: translateX(-150px); }
				& > div > div:first-child {
					text-align: right;
				}
				& > div > div:last-child {
					text-align: right;
					margin-top: 50px;
				}
				h2 {
					color: $morado;
				}
				h3 {
					color: $magenta;
					text-transform: uppercase;
					font-weight: 900;
					font-size: 62px;
					line-height: 60px;
					span {
						font-weight: 900;
						font-size: 48px;
					}
				}
			}
			.billetera {
				margin-left: 750px;
				margin-top: 160px;
			}
		}
		#divisor {
			position: absolute;
			display: block;
			width: 2px;
			height: 100%;
			background-color: #fff;
			top: 0;
			left: 50%;
			z-index: 2;
			cursor: pointer;
		}
		#handler {
			position: absolute;
			font-size: 20px;
			color: #fff;
			cursor: pointer;
			display: block;
			z-index: 2;
			width: 20px;
			text-align: center;
			left: calc(50% - 9px);
			top: calc(50% - 10px);
			span {
				font-size: inherit;
			}
		}
	}
	.cnt-image-size {
		position: absolute;
		#image-size {
			opacity: 0;
			z-index: -20;
			display: block;
			max-width: 1000px;
			width: 50vw;
		}
	}
	.shadow {
		height: 50px;
		width: 1000px;
		opacity: 0.5;
		z-index: 10;
		position: absolute;
		top: 0;
	}
	.compralo {
		display: block;
		max-width: 205px;
		background-color: #95cc00;
		color: #fff;
		font-size: 27px;
		font-weight: 500;
		text-transform: uppercase;
		text-decoration: none;
		padding: 10px 30px;
		border-radius: 5px;
		transition: $transition;
		margin-top: 60px;
		line-height: 27px;
		&:hover {
			background-color: #fff;
			color: $morado;
		}
	}
	.banner {
		position: absolute;
		top: 0;
		display: none;
		width: 100vw;
		height: 100%;
		color: #fff;
	}
	.handlers {
		@extend %block-center;
		position: absolute;
		bottom: 15px;
		width: 100%;
		z-index: 10;
		.dot {
			display: block;
			height: 18px;
			width: 18px;
			border: 3px solid rgb(229, 229, 229);
			background: rgba(122,122,122,1);
			background: -moz-linear-gradient(top, rgba(122,122,122,1) 0%, rgba(255,255,255,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(122,122,122,1)), color-stop(100%, rgba(255,255,255,1)));
			background: -webkit-linear-gradient(top, rgba(122,122,122,1) 0%, rgba(255,255,255,1) 100%);
			background: -o-linear-gradient(top, rgba(122,122,122,1) 0%, rgba(255,255,255,1) 100%);
			background: -ms-linear-gradient(top, rgba(122,122,122,1) 0%, rgba(255,255,255,1) 100%);
			background: linear-gradient(to bottom, rgba(122,122,122,1) 0%, rgba(255,255,255,1) 100%);
			margin: 0 3px;
			border-radius: 50%;
			cursor: pointer;
			transition: $transition;
			&.active {
				background: rgb(102, 102, 102);
			}
		}
	}
	.banner-1 {
		& > img {
			position: absolute;
			bottom: 30px;
			left: calc(50% - 238px);
			width: auto;
			display: block;
			transform: translateX(0px) !important;
		}
		& > div {
			img {
				width: auto;
				opacity: 0;
				transition: $transition;
			}
			.compralo {
				opacity: 0;
				transition: $transition;
			}
			h2 {
				font-size: 57px;
				line-height: 57px;
				font-weight: 700;
				font-family: $lato-regular;
				text-transform: uppercase;
				span {
					font-family: $lato-regular;
					display: block;
					font-size: 48px;
					font-weight: 700;
					line-height: 52px;
					transform: translateX(700px);
					opacity: 0;
					transition: $transition;
				}
			}
			h3 {
				font-family: $lato-regular;
				font-weight: 400;
				line-height: 38px;
				font-size: 38px;
				margin-top: 10px;
				transform: translateY(250px);
				opacity: 0;
				transition: $transition;
			}
			p {
				font-family: $lato-regular;
				font-size: 27px;
				color: #fff;
				line-height: 28px;
				font-weight: 300;
				margin-bottom: 60px;
				transform: translateY(250px);
				opacity: 0;
				transition: $transition;
			}
			& > div {
				// display: flex;
				// align-items: center;
				// position: absolute;
				// left: 100px;
				// top: 50px;
				p {
					margin: 0;
					font-weight: 400;
					font-size: 22px;
					margin-left: 5px;
					transform: translateY(150px);
					transition: $transition;
				}
			}
		}
	}
	@keyframes banner2-4 {
		0% {
			opacity: 0;
			transform: translateY(-40px);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}
	.banner:not(.banner-1):not(.banner-5) {
		& > div {
			@extend %block-center;
			align-items: flex-start;
			& > * {
				max-width: 1000px;
				width: 50%;
			}
			img {
				width: 50vw;
				max-width: 1000px;
				max-height: 800px;
				transform: translateX(100%);
				transition: 1s ease-in-out;
			}
			.here {
				display: block;
				width: 50vw;
				max-width: 1000px;
				max-height: 800px;
				padding: 160px 0 0 160px;
				transition: $transition;
				img {
					width: 148px;
				}
				h2 {
					font-weight: 400;
					font-size: 50px;
					text-transform: uppercase;
					line-height: 53px;
					span {
						font-family: $lato-regular;
						display: block;
						opacity: 0;
						transform: translateY(-40px);
					}
				}
				p {
					font-family: $lato-regular;
					font-size: 26px;
					font-weight: 400;
					color: #fff;
					opacity: 0;
					transition: $transition;
				}
				div {
					@extend %block-center;
					justify-content: flex-start;
					margin-top: 200px;
					opacity: 0;
					transition: $transition;
					.compralo { margin-top: 0; }
					a:not(:last-child) {
						margin-right: 15px; 
					}
				}
			}
		} 
	}
	.banner-5 > div {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		height: 100%;
		& > img { width: 432px; }
		& > div {
			margin-left: -70px;
			@extend %block-center;
			a { margin: 100px 10px 0 10px; }
			img { width: 170px; }
		}
	}
}

#pos-movil {
	padding: 82px 0 52px 0;
	background-image: url('../assets/pos-movil.jpg');
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	& > div {
		@extend %block-between;
		& > div:first-child {
			max-width: 350px;
			transform: translateX(-800px);
			opacity: 0;
			@keyframes lazyPosMovil {
				from {
					transform: translateX(-800px);
					opacity: 0;
				}
				to {
					transform: translateX(0);
					opacity: 1;
				}
			}
			h3 {
				position: relative;
				margin-bottom: 50px;
				span {
					display: block;
					font-size: 35px;
					font-weight: 400;
					&:first-child {
						color: $magenta;
					}
					&:last-child {
						color: $morado;
					}
				}
				&::after {
					content: '';
					display: block;
					position: absolute;
					width: 80px;
					height: 2px;
					background-color: $morado;
					bottom: -15px;
				}
			}
		}
		.here {
			img {
				transform: translateX(800px);
				opacity: 0;
			}
		}
		@keyframes lazyImgPos {
			from {
				transform: translateX(800px);
				opacity: 0;
			}
			to {
				transform: translateX(0);
				opacity: 1;
			}
		}
		& > div:nth-child(3) {
			display: flex;
			flex-direction: column;
			a {
				text-decoration: none;
				font-size: 18px;
				color: #fff;
				text-transform: uppercase;
				display: block;
				width: 264px;
				padding: 14px 50px;
				text-align: center;
				background-color: $morado;
				border-radius: 2px;
				margin-top: 10px;
				transition: $transition;
				@keyframes lazyButton {
					0% { transform: translateX(50px); }
					10% { transform: translateX(50px); }
					20% { transform: translateX(-40px); }
					30% { transform: translateX(-40px); }
					40% { transform: translateX(30px); }
					50% { transform: translateX(30px); }
					60% { transform: translateX(-20px); }
					70% { transform: translateX(-20px); }
					80% { transform: translateX(10px); }
					90% { transform: translateX(10px); }
					100% { transform: translateX(0); }
				}
				&:hover {
					background-color: $magenta;
				}
			}
		}
		img {
			transition: 1s;
			transform: translateX(800px);
			opacity: 0;
			&:hover {
				transform: scale(1.1) !important;
				opacity: 0.95 !important;
			}
		}
	}
}

#beneficios {
	background-image: url(../assets/fondo-requisitos.jpg);
	background-position: top center;
	background-attachment: fixed;
	background-size: cover;
	color: #fff;
	padding: 60px 0;
	h2 {
		margin: auto;
		text-align: center;
		font-size: 35px;
		font-weight: 400;
		max-width: 600px;
	}
}

#list-beneficios {
	padding: 60px 0;
	ul {
		@extend %block-between;
		align-items: flex-start;
		list-style: none;
		text-align: center;
		li {
			display: block;
			max-width: 272px;
			width: 100%;
			padding: 0 15px;
			opacity: 0;
			img { margin-bottom: 20px; }
			h3 {
				font-weight: 300;
				font-size: 25px;
				line-height: 30px;
				color: $morado;
				position: relative;
				transition: $transition;
				margin-bottom: 30px;
				&::after {
					content: '';
					position: absolute;
					display: block;
					height: 1px;
					width: 50px;
					background-color: $morado;
					left: calc(50% - 25px);
					bottom: -12px;
				}
			}
			&:hover {
				h3 { color: $magenta; }
			}
			&:nth-child(1), &:nth-child(2){
				transform: translateX(-800px);
			}
			&:nth-child(3), &:nth-child(4){
				transform: translateX(800px);
			}
			@keyframes lazyBeneficiosOne {
				from {
					transform: translateX(-800px);
					opacity: 0;
				}
				to {
					transform: translateX(0);
					opacity: 1;
				}
			}
			@keyframes lazyBeneficiosTwo {
				from {
					transform: translateX(800px);
					opacity: 0;
				}
				to {
					transform: translateX(0);
					opacity: 1;
				}
			}
		}
	}
}

#funcionamiento {
	.here {
		background-image: url(../assets/bg-funcionamiento.jpg);
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		color: #fff;
		text-align: center;
		padding: 35px 0 115px 0;
		h3 {
			font-size: 35px;
			&::after {
				content: '\f078';
				font-family: $font-awesome;
				font-size: 20px;
				display: block;
				margin-top: 3px;
			}
		}
		p {
			font-size: 25px;
			color: #fff;
			margin-top: 3px;
		}
	}
	iframe {
		display: block;
		margin: -90px auto 0 auto;
	}
	.mas-info {
		text-align: center;
		margin: 30px 0 60px 0;
		.fa:not(.fa-long-arrow-right) {
			font-size: 20px;
			color: $morado;
		}
		p {
			font-size: 25px;
			color: #333;
			max-width: 430px;
			margin: 25px auto;
		}
	}
}

#preguntas-frecuentes {
	background-image: url(../assets/bg-preguntas-frecuentes.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #fff;
	text-align: center;
	padding: 50px 0 60px 0;
	h3 {
		font-size: 35px;
		font-weight: 400;
	}
	a {
		width: 230px;
		margin-top: 20px;
		background-color: $magenta;
		&:hover {
			background-color: #fff;
			color: $morado;
			.fa { border-color: $morado; }
		}
	}
}

#zona-contacto {
	padding: 50px;
	& > div:first-child {
		text-align: center;
		h4 {
			font-size: 25px;
			color: $morado;
			font-weight: 300;
		}
		h3 {
			font-size: 25px;
			color: $magenta;
			text-transform: uppercase;
			font-weight: 300;
		}
		a {
			width: 160px;
			margin-top: 20px;
			span {
				font-size: 14px;
				line-height: 45px;
			}
			&:hover { background-color: $morado; }
		}
	}
	.media {
		margin-top: 60px;
		@extend %block-between;
		align-items: flex-start;
		strong {
			font-size: 15px;
			font-weight: 700;
			color: #636363;
		}
		.social-media {
			list-style: none;
			display: flex;
			margin: 15px 0;
			a {
				text-decoration: none;
				color: $morado;
				margin-right: 15px;
				transition: $transition;
				&:hover { opacity: 0.85; }
			}
		}
		.download {
			list-style: none;
			display: flex;
			margin: 15px 0;
			li {
				margin-right: 15px;
			}
		}
	}
}

.back-modal {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	z-index: 500;
	@keyframes show-modal {
		0% {
			transform: translateY(-100px);
			opacity: 0;
		}
		100% {
			transform: translateY(0);
			opacity: 1;
		}
	}
	@keyframes hide-modal {
		0% {
			transform: translateY(0);
			opacity: 1;
		}
		100% {
			transform: translateY(-100px);
			opacity: 0;
		}
	}
	.modal {
		background-image: url(../assets/bg-preguntas-frecuentes.jpg);
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		color: #fff;
		max-width: 900px;
		position: absolute;
		top: 55px;
		border-radius: 2px;
		box-shadow: 0 0 8px rgba(0,0,0,0.5);
		-webkit-box-shadow: 0 0 8px rgba(0,0,0,0.5);
		-moz-box-shadow: 0 0 8px rgba(0,0,0,0.5);
		padding: 30px 60px;
		opacity: 0;
		transform: translateY(-100px);
		max-height: 88vh;
		overflow: hidden;
	}
}

#modal-contacto {
	.modal {
		max-width: 900px;
		left: calc(50% - 430px);
	}
	h3 {
		font-size: 25px;
		text-align: center;
		font-weight: 300;
	}
	h4 {
		font-size: 20px;
		text-align: center;
		font-weight: 300;
	}
	.modal > div {
		@extend %block-between;
		align-items: flex-start;
		& > * { width: 100%; }
		form#contacto {
			margin: 35px 60px 0 0;
			& > div {
				@extend %block-between;
				& > * { width: 47.5% !important; }
				#dni { margin-right: 15px; }
			}
			input, #tipo, #mensaje {
				display: block;
				width: 100%;
				padding: 0 12px;
				line-height: 32px;
				margin-bottom: 15px;
				border-radius: 4px;
				border: none;
				transition: $transition;
				outline: none;
				border: 1px solid transparent;
				font-family: $roboto-regular;
				font-weight: 300;
				font-size: 14px;
				color: #555555;
				&:focus {
					-webkit-box-shadow: 0px 0px 8px 0px rgba(85,152,219,1);
					-moz-box-shadow: 0px 0px 8px 0px rgba(85,152,219,1);
					box-shadow: 0px 0px 8px 0px rgba(85,152,219,1);
					border: 1px solid rgba(85,152,219,1);
				}
				&::placeholder {
					color: #aaa9a9;
					font-family: $roboto-regular;
					font-weight: 300;
					font-size: 14px;
				}
			}
			#tipo {
				height: 34px;
			}
			#mensaje {
				padding: 6px 12px;
				line-height: 20px;
				height: 82px;
			}
			input[type="submit"] {
				max-width: 65px;
				background-color: #fff;
				color: $morado;
				font-weight: 400;
				cursor: pointer;
				&:focus {
					-webkit-box-shadow: 0px 0px 8px 0px transparent;
					-moz-box-shadow: 0px 0px 8px 0px transparent;
					box-shadow: 0px 0px 8px 0px transparent;
					border: 1px solid transparent;
				}
				&:active {
					-webkit-box-shadow: 0px 0px 8px 0px rgba(85,152,219,1);
					-moz-box-shadow: 0px 0px 8px 0px rgba(85,152,219,1);
					box-shadow: 0px 0px 8px 0px rgba(85,152,219,1);
					border: 1px solid rgba(85,152,219,1);
				}
			}
			textarea { resize: none; }
		}
		& > div {
			ul {
				cursor: pointer;
				text-align: center;
				list-style: none;
				transition: $transition;
				&:first-child { margin: 30px 0 70px 0; }
				.here {
					display: block;
					width: 60px;
					text-align: center;
					border-radius: 50%;
					background-color: #fff;
					color: $morado;
					margin: 20px auto;
					transition: $transition;
					overflow: hidden;
					@keyframes ico-form {
						0% { transform: translate(0, 0); }
						50% { transform: translate(60px, 0); }
						51% { transform: translate(-60px, 0); }
						100% { transform: translate(0px, 0); }
					}
					.fa {
						line-height: 60px;
						font-size: 30px;
					}
				}
				li:not(.fa) {
					font-size: 23px;
					font-weight: 300;
					transition: $transition;
				}
				&:hover {
					li:not(.here) { color: $magenta; }
					.fa {
						animation: ico-form 0.25s;
					}
				}
			}
		}
	}
}

#modal-simulador {
	.modal {
		max-width: 600px;
		padding: 30px 30px 50px 30px;
		left: calc(50% - 300px);
	}
	h3 {
		font-size: 35px;
		font-weight: 300;
		text-align: center;
		margin-bottom: 30px;
	}
	.here {
		@extend %block-between;
		margin-bottom: 40px;
		& > * {
			width: 50%;
			&:first-child { margin-right: 50px; }
		}
	}
	label {
		span {
			font-weight: 300;
			font-size: 15px;
		}
		input {
			display: block;
			line-height: 40px;
			font-size: 28px;
			text-align: center;
			color: #555555;
			width: 100%;
			border-radius: 4px;
			border: none;
			transition: $transition;
			outline: none;
			border: 1px solid transparent;
			font-family: $roboto-regular;
			margin-top: 5px;
			&:not(#comision):not(#total):focus {
				-webkit-box-shadow: 0px 0px 8px 0px rgba(85,152,219,1);
				-moz-box-shadow: 0px 0px 8px 0px rgba(85,152,219,1);
				box-shadow: 0px 0px 8px 0px rgba(85,152,219,1);
				border: 1px solid rgba(85,152,219,1);
			}
			&::placeholder {
				color: #aaa9a9;
			}
		}
	}
	label[for="total"], label[for="comision"] {
		max-width: 290px;
		margin: auto;	
		width: 100%;
		display: block;
		input {
			line-height: 50px;
			font-size: 40px;
		}
		input#total {
			margin-bottom: 20px;
		}
	}
}

#catalogo, #historial {
	background-image: url(../assets/bg-catalogo.jpg);
	background-size: cover;
	& > div {
		display: flex;
		justify-content: flex-start;
		text-align: center;
		align-items: center;
		margin: 200px auto 125px auto;
		padding: 80px 0 100px 0;
		position: relative;
		div {
			@extend %block-between;
			flex-direction: column;
			ul {
				list-style: none;
				@extend %block-center;
				align-items: flex-start;
				li {
					transform: translateX(-1200px);
					opacity: 0;
					@keyframes lazyCatalogo {
						from {
							transform: translateX(-1200px);
							opacity: 0;
						}
						to {
							transform: translateX(0);
							opacity: 1;
						}
					}
					display: block;
					max-width: 220px;
					width: 100%;
					margin: 0 15px;
					cursor: pointer;
					p { color: #fff; }
				}
			}
			h4 {
				font-size: 25px;
				color: #fff;
				font-weight: 300;
				margin-bottom: 40px;
			}
		}
		.cnt-video {
			position: absolute;
			top: -100px;
			right: 50px;
		}
	}
}

#base-clientes {
	@extend %block-between;
	justify-content: flex-end;
	text-align: center;
	& > div:not(.cnt-video) {
		transform: translateY(500px);
		opacity: 0;
		@keyframes lazyBase {
			from {
				transform: translateY(500px);
				opacity: 0;
			}
			to {
				transform: translateY(0);
				opacity: 1;
			}
		}
		max-width: 365px;
		width: 100%;
		margin: -35px 0 20px 0;
		margin-left: 100px;
		h3 {
			font-size: 25px;
			font-weight: 300;
			color: $morado;
		}
		p { color: $morado; }
	}
}

#historial {
	& > div {
		div:not(.cnt-video) {
			transform: translateX(-1200px);
			opacity: 0;
			max-width: 630px;
			width: 100%;
			h4 { margin: 15px 0; }
		}
		p { color: #fff; }
	}
}

#staff {
	transform: translateX(-1200px);
	opacity: 0;
	@extend %block-between;
	margin: 50px auto 80px auto;
	padding-top: 50px;
	& > div {
		max-width: 366px;
		width: 100%;
		text-align: center;
		h3 {
			font-size: 25px;
			color: $morado;
			font-weight: 300;
			margin-bottom: 10px;
		}
		p { color: $morado; }
	}
}

#panel-control {
	background-image: url(../assets/bg-panel-control.jpg);
	padding: 20px 0 50px 0;
	& > div {
		@extend %block-center;
		div:not(.cnt-video):not(.video-after) {
			transform: translateX(-1200px);
			opacity: 0;
			max-width: 425px;
			width: 100%;
			margin-right: 15px;
			h3 {
				font-size: 25px;
				color: #fff;
				font-weight: 300;
				position: relative;
				margin-bottom: 20px;
				&::after {
					content: '';
					position: absolute;
					display: block;
					height: 1px;
					width: 70px;
					background-color: #fff;
					bottom: -10px;
				}
			}
			p {
				color: #fff;
				font-weight: 300;
			}
		}
	}
}

.cnt-video {
	position: relative;
	cursor: pointer;
	.video-after {
		position: absolute;
		top: 0;
		width: 100%;
		height: calc(100% - 36px);
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: center !important;
		flex-direction: row !important;
		i {
			line-height: 72px;
			width: 80px;
			border: 4px solid #fff;
			border-radius: 50%;
			color: #fff;
			font-size: 45px;
			box-sizing: border-box;
			padding-left: 10px;
			text-align: center;
		}
	}
}

#cont-preguntas {
	padding-top: 75px;
	h3 {
		transform: translateX(-1200px);
		opacity: 0;
		font-size: 35px;
		color: $magenta;
		text-align: center;
	}
	h4 {
		transform: translateX(-1200px);
		opacity: 0;
		font-size: 25px;
		color: $morado;
		text-align: center;
		font-weight: 300;
		position: relative;
		margin-bottom: 50px;
		&::after {
			content: '';
			position: absolute;
			display: block;
			height: 2px;
			width: 80px;
			left: calc(50% - 40px);
			background-color: $morado;
			margin-top: 10px;
		}
	}
	article {
		border: 1px solid #e8e8e8;
		background-color: #f9f9f9;
		margin-bottom: 10px;
		cursor: pointer;
		&:hover {
			background-color: #fff;
			.pregunta .fa { background-color: $verde; }
			.pregunta span:not(.fa) { color: $verde; }
		}
		.pregunta {
			padding: 15px 25px;
			display: flex;
			align-items: flex-start;
			.fa {
				line-height: 22px;
				min-width: 22px;
				text-align: center;
				background-color: $negro;
				color: #fff;
				font-size: 10px;
				transition: $transition;
				pointer-events: none;
			}
			span:not(.fa) {
				margin-left: 18px;
				font-size: 20px;
				color: $negro;
				transition: $transition;
				pointer-events: none;
			}
		}
		.respuesta {
			& > div { width: 100%; }
			display: none;
			padding: 10px 25px 15px 25px;
			@extend %block-between;
			align-items: flex-start;
			.list-default {
				list-style: initial;
				padding-left: 0;
				margin-left: 35px;
				&::before {
					content: '';
				}
			}
			.slide {
				display: inline-block;
				width: 100%;
				margin-right: 40px;
				.width-all { width: 100%; }
				.width-auto {
					width: auto;
					display: block;
					margin: auto;
				}
			}
			a {
				text-decoration: none;
				color: inherit;
				font-weight: inherit;
				transition: $transition;
				&:hover { color: $verde; }
			}
			ul {
				display: block;
				width: 100%;
				overflow: hidden;
				& > li {
					list-style: none;
					position: relative;
					padding-left: 35px;
					line-height: 25px;
					font-size: 15px;
					color: $color-text;
					font-weight: 300;
					margin-bottom: 10px;
					&::before {
						content: '\f00c';
						left: 0;
						font-size: 13px;
						font-family: $font-awesome;
						position: absolute;
						line-height: 25px;
						width: 25px;
						text-align: center;
						border-radius: 50%;
						background-color: $morado;
						color: #fff;
					}
				}
			}
			ol {
				li { font-weight: 300; }
				margin: 5px 0 0 30px;
			}
			.here {
				@extend %block-between;
				align-items: flex-start;
				.slide {
					display: inline-block;
					width: 100%;
					margin-right: 40px;
					text-align: right;
					.width-all { width: 100%; }
					.width-auto {
						width: 100%;
						display: block;
						margin: auto;
					}
					& + div {
						display: block;
						width: 100%;
					}
				}
			}
		}
		&:last-child {
			strong { color: $morado; }
		}
	}
	#pregunta-1 {
		.respuesta {transition: $transition;}
		.slide {
			position: relative;
			overflow: hidden;
		}
		img {
			position: absolute;
			top: 0;
			display: block;
			margin: auto;
			left: 100%;
			transition: $transition;
			.width-auto { width: auto; }
			&.active { left: calc(50% - 175px); }
			&.pass { left: -100%; }
			&:last-child.active { left: 0; }
		}
	}
	#pregunta-12 {
		.respuesta {transition: $transition;}
		.slide {
			position: relative;
			overflow: hidden;
		}
		img {
			position: absolute;
			top: 0;
			display: block;
			margin: auto;
			left: 100%;
			transition: $transition;
			&.active { left: 0 }
			&.pass { left: -100%; }
		}
	}
}

#terminos {
	padding: 60px 0;
	a {
		text-decoration: none;
		color: inherit;
		font-weight: inherit;
		transition: $transition;
		&:hover { color: $verde; }
	}
	h3 {
		font-weight: 700;
		font-size: 25px;
		color: $morado;
		text-align: center;
		margin-bottom: 25px;
	}
	.nota {
		padding: 15px;
		margin: 30px 40px;
		border-left: 4px solid $verde;
		font-size: 15px;
		font-weight: 700;
		font-style: italic;
		color: #636363;
		background-color: #f6f6f6;
	}
	.enum {
		font-size: 15px;
	}
	ol, ul {
		margin: 0 0 20px 35px;
		li {
			color: $color-text;
			font-size: 15px;
			font-weight: 300;
			line-height: 1.4;
		}
	}
	h4 {
		font-size: 20px;
		color: #333;
		margin-bottom: 5px;
	}
}

@media screen and (max-width: 1150px){
	header .container {
		padding: 0 15px;
	}
}

@media screen and (max-width: 800px) {
	#cont-preguntas article {
		.respuesta { flex-direction: column; }
		.slide { margin-bottom: 50px; }
		.respuesta .here {
			flex-direction: column;
			.slide {
				text-align: center;
				img { width: 100%; }
			}
		}
	}
	#zona-contacto .media {
		flex-direction: column;
		.download { flex-direction: column; }

	}
	#gotop { display: none !important; }
	#historial > div div:not(.cnt-video) { padding: 0 15px; }
}

@media screen and (max-width: 1100px) {
	body { padding-top: 66px; }
	header {
		position: absolute;
		img { max-width: 95px; }
	}
	#menu-header { display: none !important; }
	#btn-menu-responsive {
		display: block !important;
		line-height: 65px !important;
	}
	#catalogo > div, #historial > div {
		flex-direction: column;
		padding-bottom: 570px;
		.cnt-video {
			right: calc(50% - 137px);
			top: 340px;
		}
	}
	#historial > div { padding-bottom: 630px; }
	#historial > div .cnt-video { top: 410px; }
	#base-clientes {
		flex-direction: column;
		.cnt-video { margin-bottom: 40px; }
		& > div:not(.cnt-video) { margin: 0; }
	}
	#staff {
		flex-direction: column;
		& > img { margin-bottom: 40px; }
	}
	#panel-control > div {
		flex-direction: column;
		text-align: center;
		div:not(.cnt-video):not(.video-after) h3::after { left: calc(50% - 35px); }
		video { margin-top: 20px; }
	}
	#list-beneficios ul {
		flex-direction: column;
		width: 100%;
		li { max-width: none; }
	}
	#funcionamiento .here {
		padding: 35px 25px 115px 25px;
	}
	#terminos.container {
		padding: 60px 20px;
	}
}

@media screen and (max-width: 380px) {
	#cont-preguntas #pregunta-1 img {
		width: 250px;
		&.active { left: calc(50% - 125px); }
	}
}

@media screen and (max-width: 600px) {
	#catalogo > div {
		div ul { flex-direction: column; }
		.cnt-video { top: 630px; }
	}
	#modal-contacto {
		.modal {
			max-width: 400px;
			left: calc(50% - 200px) !important;
			padding: 30px;
			#contacto > div {
				flex-direction: column;
				// & > input { width: 100% !important; }
			}
			#dni { margin-right: 0 !important; }
		}
	}
	#modal-simulador {
		.modal {
			max-width: 500px;
			left: calc(50% - 250px);
		}
	}
	#funcionamiento iframe { width: 100%; }
}

@media screen and (max-width: 650px) {
	#panel-control {
		.cnt-video, video { width: 100%; height: auto; }
	}
}

@media screen and (max-width: 900px) {
	#modal-contacto {
		.modal { left: calc(50% - 282px); }
		.modal > div { flex-direction: column; }
	}
}

@media screen and (max-width: 410px) {
	#modal-contacto {
		.modal {
			max-width: 300px;
			left: calc(50% - 150px) !important;
		}
	}
}

@media screen and (max-width: 500px) {
	#modal-simulador {
		.modal {
			max-width: 400px;
			left: calc(50% - 200px);
		}
		.here {
			flex-direction: column;
			& > *:first-child {
				margin: 0 0 15px 0;
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: 400px) {
	#modal-simulador {
		.modal {
			max-width: 300px;
			left: calc(50% - 150px);
		}
	}
}

@media screen and (max-width: 1050px) {
	#pos-movil > .container { flex-direction: column; }
}

@media screen and (max-width: 450px) {
	#pos-movil > .container div:nth-child(2) {
		flex-direction: column;
		text-align: center;
	}
	#pos-movil > div > div:first-child { text-align: center; }
	#pos-movil > div > div:first-child h3::after { left: calc(50% - 40px); }
	#cont-preguntas article .respuesta .slide .width-auto { width: 100%; }
}

@media screen and (max-width: 1700px){
	
}

@media screen and (max-width: 1650px){
	#banner #banner-slide #slide1a > div > div {
		transform: scale(0.9);
		margin-top: 0;
	}
	#banner .banner:not(.banner-1):not(.banner-5) > div .here {
		padding: 100px 0 0 100px;
		transform: scale(0.9);
		div { margin-top: 100px; }
	}
	#banner #banner-slide #slide1b > div > div {
		transform: scale(0.9) translate(-180px, -140px);
		margin-top: 0;
	}
	#banner #banner-slide #slide1a .calculadora { transform: scale(0.9); }
	#banner #banner-slide #slide1b .billetera { margin-top: 100px; transform: scale(0.9); }
	#banner #banner-slide #slide1b > div {
		h3, h2 { width: 600px; }
	}
}

@media screen and (max-width: 1400px){
	#banner .banner:not(.banner-1):not(.banner-5) > div .here {
		transform: scale(0.75);
	}
	#banner .banner-5 div > * { transform: scale(0.85) !important; }
	#banner .banner-5 > div > div a { margin-top: 50px; }
	#banner #banner-slide #slide1a > div > div {
		transform: scale(0.8) translate(0, -60px);
		margin-top: 0;
	}
	#banner #banner-slide #slide1b > div > div {
		transform: scale(0.8) translate(-310px, -140px);
		margin-top: 0;
	}
	#banner #banner-slide #slide1a .calculadora { transform: scale(0.8); }
	#banner #banner-slide #slide1b .billetera { margin-top: 100px; transform: scale(0.8); }
}

@media screen and (max-width: 1250px){
	#banner #banner-slide #slide1a > div > div {
		transform: scale(0.7) translate(30px, -125px);
		margin-top: 0;
	}
	#banner #banner-slide #slide1b > div > div {
		transform: scale(0.7) translate(-400px, -230px);
		margin-top: 0;
	}
	#banner #banner-slide #slide1a .calculadora { transform: scale(0.7) translateY(-100px); }
	#banner #banner-slide #slide1b .billetera { margin-top: 100px; transform: scale(0.7); }
}

@media screen and (max-width: 1200px){
	#banner .banner:not(.banner-1):not(.banner-5) > div .here {
		padding: 0;
		transform: scale(0.55) translate(-72px, -92px);
		div { margin-top: 50px; }
	}
	#banner .banner-4 > div .here {
		transform: scale(0.55) translate(-72px, 20px) !important;
	}
	#banner .banner-5 div > * { transform: scale(0.65) !important; }
	#banner .banner-5 > div > div a { margin: -50px -20px 0 -20px; }
	#banner #banner-slide #slide1a .calculadora { transform: scale(0.6) translateY(-140px); }
	#banner #banner-slide #slide1b .billetera { margin-top: 100px; transform: scale(0.6); }
}

@media screen and (max-width: 1150px){
	#banner #banner-slide #slide1a > div > div {
		transform: scale(0.6) translate(100px, -185px);
		margin-top: 0;
	}
	#banner #banner-slide #slide1b > div > div {
		transform: scale(0.6) translate(-480px, -330px);
		margin-top: 0;
	}
}

@media screen and (max-width: 1050px){
	#banner #banner-slide #slide1a > div > div {
		transform: scale(0.5) translate(200px, -255px);
		margin-top: 0;
	}
	#banner #banner-slide #slide1b > div > div {
		transform: scale(0.5) translate(-640px, -410px);
		margin-top: 0;
	}
	#banner #banner-slide #slide1b .billetera { margin-top: 0; }
}

@media screen and (max-width: 950px){
	#banner #banner-slide #slide1a > div > div {
		transform: scale(0.5) translate(300px, -255px);
		margin-top: 0;
	}
	#banner #banner-slide #slide1b > div > div {
		transform: scale(0.5) translate(-740px, -360px);
		margin-top: 0;
	}
	#banner #banner-slide #slide1a .calculadora { transform: scale(0.5) translateY(-240px); }
	#banner #banner-slide #slide1b .billetera { transform: scale(0.5); }
}

@media screen and (max-width: 800px){
	#banner .banner:not(.banner-1):not(.banner-5) > div .here {
		transform: scale(0.55) translate(-72px, -92px);
		div { margin-top: 50px; }
		h2 { width: 600px; }
		p { width: 500px; }
	}
	#banner .banner-4 > div .here {
		transform: scale(0.55) translate(-72px, -42px) !important;
	}
	#banner .banner-5 div > * { transform: scale(0.45) translateY(-50px) !important; }
	#banner .banner-5 > div > div a {
		margin: -190px -20px 0 -20px;
		transform: scale(0.65) !important;
	}
	#banner .handlers .dot {
		height: 12px;
		width: 12px;
		border-width: 1px;
	}
}

@media screen and (max-width: 760px){
	#banner #banner-slide #slide1a > div > div {
		transform: scale(0.4) translate(530px, -435px) !important;
		margin-top: 0;
	}
	#banner #banner-slide #slide1b > div > div {
		transform: scale(0.4) translate(-740px, -360px);
		margin-top: 0;
	}
	#banner #banner-slide #slide1a .calculadora { transform: scale(0.4) translate(-150px, -400px) !important; }
	#banner #banner-slide #slide1b .billetera { transform: scale(0.4) translateY(-200px) !important; }
}

@media screen and (max-width: 950px){
	#banner #banner-slide #slide1a > div > div {
		transform: scale(0.4) translate(390px, -435px);
		margin-top: 0;
		p { width: 550px; }
	}
	#banner #banner-slide #slide1b > div > div {
		transform: scale(0.4) translate(-1070px, -470px);
		margin-top: 0;
	}
	#banner #banner-slide #slide1a .calculadora {
		margin-left: 0;
		transform: scale(0.4) translate(-150px, -240px);
	}
	#banner #banner-slide #slide1b .billetera { transform: scale(0.4); }
}

@media screen and (max-width: 650px){
	#banner .banner:not(.banner-1):not(.banner-5) > div .here {
		transform: scale(0.35) translate(-170px, -200px);
		div { margin-top: 50px; }
		h2 { width: 600px; }
		p { width: 500px; }
	}
	#banner .banner-4 > div .here {
		transform: scale(0.35) translate(-170px, -42px) !important;
	}
	#banner #banner-slide #slide1a > div > div {
		transform: scale(0.3) translate(780px, -675px) !important;
		margin-top: 0;
		p { width: 550px; }
	}
	#banner #banner-slide #slide1b > div > div {
		transform: scale(0.3) translate(-1500px, -780px) !important;
		margin-top: 0;
	}
	#banner #banner-slide #slide1a .calculadora {
		margin-left: 0;
		transform: scale(0.3) translate(-230px, -610px) !important;
	}
	#banner #banner-slide #slide1b .billetera { transform: scale(0.3); }
}

@media screen and (max-width: 550px){
	#banner #banner-slide #slide1a > div > div {
		transform: scale(0.2) translate(1280px, -1175px) !important;
		margin-top: 0;
		p { width: 550px; }
	}
	#banner #banner-slide #slide1b > div > div {
		transform: scale(0.2) translate(-2270px, -1300px) !important;
		margin-top: 0;
	}
	#banner #banner-slide #slide1a .calculadora {
		margin-left: 0;
		transform: scale(0.2) translate(-360px, -1030px) !important;
	}
	#banner #banner-slide #slide1b .billetera { transform: scale(0.2); }
}

@media screen and (max-width: 500px){
	#banner #banner-slide #slide1a > div > div {
		transform: scale(0.2) translate(1340px, -1175px) !important;
		margin-top: 0;
		p { width: 550px; }
	}
	#banner #banner-slide #slide1b > div > div {
		transform: scale(0.2) translate(-2420px, -1300px) !important;
		margin-top: 0;
	}
	#banner #banner-slide #slide1a .calculadora {
		margin-left: 0;
		transform: scale(0.2) translate(-360px, -1030px) !important;
	}
	#banner #banner-slide #slide1b .billetera { transform: scale(0.2) translate(-210px,-920px) !important; }
}

@media screen and (max-width: 450px){
	#banner .banner:not(.banner-1):not(.banner-5) > div .here {
		transform: scale(0.25) translate(-215px, -380px);
		div { margin-top: 50px; }
		h2 { width: 600px; }
		p { width: 500px; }
	}
	#banner .banner-4 > div .here {
		transform: scale(0.25) translate(-215px, -200px) !important;
	}
	#banner .banner-5 div > * { transform: scale(0.25) translateY(-50px) !important; }
	#banner .banner-5 > div > div a {
		margin: -574px -10px 0 -10px;
		transform: scale(0.65) !important;
	}
	#banner .banner-5 > div > div { margin-left: -40px; }
}

@media screen and (max-width: 400px){
	#banner #banner-slide #slide1a > div > div {
		transform: scale(0.2) translate(1750px, -1275px) !important;
		margin-top: 0;
		p { width: 550px; }
	}
	#banner #banner-slide #slide1b > div > div {
		transform: scale(0.2) translate(-2810px, -1390px) !important;
		margin-top: 0;
	}
	#banner #banner-slide #slide1a .calculadora {
		margin-left: 0;
		transform: scale(0.2) translate(-360px, -1030px) !important;
	}
	#banner #banner-slide #slide1b .billetera { transform: scale(0.2) translate(-270px, -1160px) !important; }
}

@media screen and (max-width: 380px){
	#banner .banner:not(.banner-1):not(.banner-5) > div .here {
		transform: scale(0.25) translate(-215px, -420px);
		div { margin-top: 50px; }
		h2 { width: 600px; }
		p { width: 500px; }
	}
	#banner .banner-3 > div .here {
		transform: scale(0.25) translate(-215px, -477px) !important;
	}
	#banner .banner-4 > div .here {
		transform: scale(0.25) translate(-215px, -200px) !important;
	}
}

@media screen and (max-width: 320px){
	#banner #banner-slide #slide1a > div > div {
		transform: scale(0.2) translate(1750px, -1275px) !important;
		margin-top: 0;
		p { width: 550px; }
	}
	#banner #banner-slide #slide1b > div > div {
		transform: scale(0.2) translate(-2810px, -1390px) !important;
		margin-top: 0;
	}
	#banner #banner-slide #slide1a .calculadora {
		margin-left: 0;
		transform: scale(0.2) translate(-360px, -1030px) !important;
	}
	#banner #banner-slide #slide1b .billetera { transform: scale(0.2) translate(-270px, -1160px) !important; }
}